.body_main_png1{
    display: none;
}

.menu li{
    font-size: 20px;
}

footer{
    text-align: center;
    font-size: 2px;
}

.secondcodding{
    width: 85%;
    margin-left: 9%
}

.headbottom{
    margin-bottom: -10%
}

.first_last{
    width: 100%;
}