* {
    box-sizing: border-box;
}

a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.choosed{
    border-bottom: 3px solid #170358;
}

body {}

.head-inner {
    display: flex;
    justify-content: space-between;
}

.mainpagelogo {
    display: flex;
}

.menu li {
    display: inline-block;
    margin-top: 40px;
}

header {
    background-color: #403075;
}

.headtop {
    background-color: #170358;
    color: #ffffff;
    height: 110px;
    font-size: 40px;
}

.headbottom {
    background-color: #403075;
    height: 110px;
    font-size: 25px;
    color: #f7f1e3;
    text-align: center;
    margin-bottom: -30px;
}

.body_main_top_text {
    margin-top: 30px;
}

main {
    background-color: #ffffff;
}

.main_img1{
    float: right;
}

.body_main_top {
    text-align: center;
    height: auto;
    font-size: 25px;
}

.body_main_png1{
    align-content: center;
}

.body_main_mid2 {
    text-align: right;
}

.secondcodding{
    width: 1170px;
}

.main_text2{
    text-align: left;
}

.body_main_bottom {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}

.first_last{
    width: 1140px;
}

.game_1{
    text-indent: 10px;
}

.footer_text1 {
    background-color: #170358;
    font-size: 20px;
    color: #ffffff;
    line-height: 110px;
}
